#main::before {
    content: "";
    background-image: url(/static/bg.jpg);
    display: block;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    opacity: .1;
    pointer-events: none;
    background-attachment: scroll;
    background-attachment: fixed;
}

.header {
    padding: 10px;
    background: #101011;
    color: rgb(82, 142, 231);
    font-size: 20px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  }
.header span {
    color: white;
}

.logo {
    max-width: 500px;
    display:inline-block;
}

.header a {
    float:right;
    margin:1em;
}

h1 {
    font-family: 'Titillium Web', sans-serif;
}